<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thank You for Applying to Nakhlah Institute</title>
</head>
<body>
    <div class="heading" style="display: grid; grid-template-columns: 100px 1fr; grid-template-rows: auto grid-template-areas: 'logo text';">
        <img src="https://www.nakhlahusa.org/img/nakhlahLogo.png" alt="Nakhlah Logo" style="width: 100px; grid-area: logo;">
        <h1 style="grid-area: text; align-self: end; font-size: 3em; margin: 5px;">Nakhlah Institute</h1>
    </div>
    <div class="body">  
        <h3>السلام عليكم, {{ .FirstName }}, <br>Your application has been verified</h3>
        <p>To access the the course please visit students.nakhlahusa.org. On the top-right corner click on "Log in". Enter your username and password that your provided during the application. Once you are logged in, on the left hand side of the screen click on "My Courses". Their you would see all the courses you are enrolled in.</p>
        <p>If you have any questions about accessing your course please contact us at <a href="mailto:support@nakhlahusa.org">support@nakhlausa.org</a>.</p>
    </div>
</body>
</html>